<!--for property-binding =>[] ,
for event binding => (),
for passing and using data $event line no 9 -->

<label>Server Name</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->
<input
type="text"
class="form-control"
[(ngModel)]="serverName">

<p>{{serverName}}</p>
<button 
class="btn btn-primary"
[disabled]="!allowNewServer" 
(click)="onCreateServer()">Add Server</button> 
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>

